
.col-xs-12 {
    width: 100%;
    height: 100%;
    float:left;
}
.col-6 {
    width: 16.6666%;
    height: 100%;
    float:left;
}
.col-5 {
    width: 20%;
    height: 100%;
    float:left;
}
.col-4 {
    width: 25%;
    height: 100%;
    float:left;
}
.col-3 {
    width: 33.3333%;
    height: 100%;
    float:left;
}
.col-2 {
    width: 50%;
    height: 100%; 
    float:left;
}
.row-2 {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.row-3 {
    width: 100%;
    height: 33.3333%;
    overflow: hidden;
}
.row-4 {
    width: 100%;
    height: 25%;
    overflow: hidden;
}
.row-5 {
    width: 100%;
    height: 20%;
    overflow: hidden;
}
.row-6 {
    width: 100%;
    height: 16.6666%;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 100%;
    border: black solid 1px;
}
div.img-div{
    width: 100%;
    height: 100%;
    position:relative;
}
.hole-image{
    width: 100%;
    bottom: 0px;
    position:absolute;
    z-index: 2;
   
}
.up-mole-image-1{
    width: 100%;
    position:absolute;
    z-index: 1;
    cursor:pointer;
     /* 애니메이션 이름 */
  animation-name: upmole;
  animation-duration:1.5s;
  animation-duration: linear;
  animation-iteration-count:2;
  animation-direction:alternate;
  animation-fill-mode: both; 
   
}
.up-mole-image-2{
    width: 100%;
    position:absolute;
    z-index: 1;
    cursor:pointer;
     /* 애니메이션 이름 */
  animation-name: upmole;
  animation-duration:1s;
  animation-duration: linear;
  animation-iteration-count:2;
  animation-direction:alternate;
  animation-fill-mode: both; 
   
}
.up-mole-image-3{
    width: 100%;
    position:absolute;
    z-index: 1;
    cursor:pointer;
     /* 애니메이션 이름 */
  animation-name: upmole;
  animation-duration:0.7s;
  animation-duration: linear;
  animation-iteration-count:2;
  animation-direction:alternate;
  animation-fill-mode: both; 
   
}
.basic-mole-image{
    width: 100%;
    position:absolute;
    z-index: 1;
    bottom:0%;

   
}
@-webkit-keyframes upmole {
    0% {
      bottom:0%
    }
    100% {
        bottom:100%
    }
  }